@import url('//fonts.googleapis.com/css?family=Fjalla+One');

body {
    padding:70px 0 0 0; margin:0;
    font-family: Arial, sans-serif;
    background:whiteSmoke;
}

header {
    background-color: #222;
    padding: 0;
    min-width: 1060px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    box-shadow: 0 1px #000, 0 2px 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px #000, 0 2px 1px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 1px #000, 0 2px 1px rgba(0, 0, 0, .4);
    position: fixed;
    width: 100%;
    z-index: 15;
    top: 0;
}

a {
    text-decoration: none;;
}

header .bar-content {
    width:1040px;
    margin:0 auto;
    height:50px;
}

header .bar-content a.brand {
    font-family: 'Fjalla One', Arial, sans-serif;
    font-size: 22pt;
    color: white;
    margin: 0;
    float: left;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    box-shadow: -1px 0 #000 inset, 1px 0 #333 inset;
    padding: 7px 13px;
    display: inline-block;
}

header .bar-content p {
    padding:20px 15px;
    color:white;
    display:inline-block;
    margin:0;
    font-size:11px;
    font-weight:bold;
}

header .bar-content .brand:active {
    padding:11px 13px 3px 13px;
}

header .bar-content .right {
    float:right;
    height:50px;
}

header .bar-content input {
    padding: 7px 10px;
    border-radius: 2px;
    background-color: #5A5A5A;
    border: none;
    color: white;
    margin-top: 10px;
    box-shadow: 0px 0px 5px #252525;
    transition:all 250ms;
    -webkit-transition:all 250ms;
    -moz-transition:all 250ms;
    -o-transition:all 250ms;
    outline: none;
}

header .bar-content input:focus {
    background-color: #7c7c7c;
    box-shadow: 0px 0px 5px #DBDADA;
}

.layout {
    width:1040px;
    margin:0 auto;
}

.layout .content {
    width:700px;
    display: inline-block;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
}

.layout .content article {
    border-bottom: 1px solid #ddd;
    margin:20px 10px;
    padding-bottom:10px;
}

.layout .content article img {
    max-width: 450px;
    min-width: 200px;
    min-height: 200px;
}

.layout .content article iframe {
    width: 450px;
    height: 270px;
}

.layout .content article section {
    float:right;
    width:220px;
}

.layout .content article section p {
    font-size:18px;
    margin:0;
    padding-bottom: 5px;
}

.layout .content article section h4 {
    color: #999;
    font-weight: normal;
    font-size: 11px;
    margin:0;
    margin-top:10px;
}

.layout .content article section a {
    color: #00a5f0;
    font-size:11px;
}

.icon-smile, .icon-comment {
    display:inline-block;
    width:10px; height:10px;
    margin: 0px 5px;
}

.sidebar .btn-block {
    height: 40px;
    padding: 10px 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

.icon-smile {
    background:url('../img/icon-smile.png');
}

.icon-comment {
    background:url('../img/icon-comment.png');
}

.layout .sidebar {
    width:300px;
    margin-left:20px;
    display:inline-block;
    float:right;
    position:fixed;
}

h3 {
    padding: 10px;
    font-size: 10pt;
    color: rgb(112, 112, 112);
}

.layout .sidebar .box {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color:#EEE;
    color:#666;
    margin-bottom:20px;
    padding:12px 15px 15px;
    width: 268px;
    border: 1px solid #bbb;
    box-shadow: 0 1px #eee, 0 0 0 1px #fff inset;
    -moz-box-shadow: 0 1px #eee, 0 0 0 1px #fff inset;
    -webkit-box-shadow: 0 1px #eee, 0 0 0 1px #fff inset;
    text-shadow: 0 1px #fff;
    font-size:12px;
}

.layout .sidebar .box.green {
    border: 1px solid #20C212;
    background-color: #BBECB6;
}

.layout .sidebar .box.blue {
    border: 1px solid #12A6C2;
    background-color: #B6EAEC;
}

.box .btn {
    margin-bottom: 8px;
}

.layout .sidebar .box h4 {
    margin: 0px 0px 10px 0px;
}

.content .type-tab {
    background-color: #f4f4f4;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 1px #fff inset, 0 -1px #ddd inset;
    -moz-box-shadow: 0 1px #fff inset, 0 -1px #ddd inset;
    -webkit-box-shadow: 0 1px #fff inset, 0 -1px #ddd inset;
    list-style: none;
    margin:0;
    padding:0;
}

header .bar-content .btn {
    margin:0px 10px;
}

.content .type-tab li {
    display:inline-block;
}

.content .type-tab li.active {
    color:black;
    background-color: white;
}

.content .type-tab li a {
    color: #00a5f0;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    padding:11px 22px 14px 20px;
    border-right: 1px solid #fff;
    box-shadow: -1px 0 #ddd inset;
    -webkit-box-shadow: -1px 0 #ddd inset;
    -moz-box-shadow: -1px 0 #ddd inset;
    font-weight:bold;
    line-height: 43px;
}

.content .type-tab li.active a {
    color:black;
}

.voting {
    padding: 0;
    list-style-type: none;
    margin: 10px 0 -1px;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    box-shadow: 0 0 0 1px #fff inset, 0 1px 2px #eee;
    -moz-box-shadow: 0 0 0 1px #fff inset, 0 1px 2px #eee;
    -webkit-box-shadow: 0 0 0 1px #fff inset, 0 1px 2px #eee;
}

.voting li {
    float: left;
    margin: 0;
    border-bottom: none;
    width: 108px;
    height: 50px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
}

.voting li a {
    text-indent: -999px;
    overflow: hidden;
}

.voting li:hover {
    background-color: #e4e4e4;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .6) inset;
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .6) inset;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .6) inset;
}

.icon-like,.icon-unlike {
    display: block;
    width: 22px;
    height: 22px;
    margin: 14px auto;
}

.voting li.clicked:first-child {
    background-color: #BBD3FF;
}

.voting li.clicked:last-child {
    background-color: #FFD484;
}

.icon-like {
    background-image: url(../img/icon-like.png);
}

.icon-unlike {
    background-image: url(../img/icon-unlike.png);
}

.voting li:first-child {
    border-right: 1px solid #ddd;
}

/*!
 * Bootstrap v2.2.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333333;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #bbbbbb;*border:0;border-bottom-color:#a2a2a2;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);}.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333333;background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:first-child{*margin-left:0;}
.btn:hover{color:#333333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}
.btn.disabled,.btn[disabled]{cursor:default;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-large{padding:11px 19px;font-size:17.5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.btn-large [class^="icon-"],.btn-large [class*=" icon-"]{margin-top:4px;}
.btn-small{padding:2px 10px;font-size:11.9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.btn-small [class^="icon-"],.btn-small [class*=" icon-"]{margin-top:0;}
.btn-mini [class^="icon-"],.btn-mini [class*=" icon-"]{margin-top:-1px;}
.btn-mini{padding:0 6px;font-size:10.5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.btn-block{display:block;width:100%;padding-left:0;padding-right:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-block+.btn-block{margin-top:5px;}
input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%;}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255, 255, 255, 0.75);}
.btn{border-color:#c5c5c5;border-color:rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);}
.btn-primary{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#006dcc;background-image:-moz-linear-gradient(top, #0088cc, #0044cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));background-image:-webkit-linear-gradient(top, #0088cc, #0044cc);background-image:-o-linear-gradient(top, #0088cc, #0044cc);background-image:linear-gradient(to bottom, #0088cc, #0044cc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);border-color:#0044cc #0044cc #002a80;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#0044cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#ffffff;background-color:#0044cc;*background-color:#003bb3;}
.btn-primary:active,.btn-primary.active{background-color:#003399 \9;}
.btn-warning{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#faa732;background-image:-moz-linear-gradient(top, #fbb450, #f89406);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));background-image:-webkit-linear-gradient(top, #fbb450, #f89406);background-image:-o-linear-gradient(top, #fbb450, #f89406);background-image:linear-gradient(to bottom, #fbb450, #f89406);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);border-color:#f89406 #f89406 #ad6704;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#f89406;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#ffffff;background-color:#f89406;*background-color:#df8505;}
.btn-warning:active,.btn-warning.active{background-color:#c67605 \9;}
.btn-danger{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#da4f49;background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);background-image:linear-gradient(to bottom, #ee5f5b, #bd362f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);border-color:#bd362f #bd362f #802420;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#bd362f;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{color:#ffffff;background-color:#bd362f;*background-color:#a9302a;}
.btn-danger:active,.btn-danger.active{background-color:#942a25 \9;}
.btn-success{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#5bb75b;background-image:-moz-linear-gradient(top, #62c462, #51a351);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));background-image:-webkit-linear-gradient(top, #62c462, #51a351);background-image:-o-linear-gradient(top, #62c462, #51a351);background-image:linear-gradient(to bottom, #62c462, #51a351);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);border-color:#51a351 #51a351 #387038;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#51a351;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#ffffff;background-color:#51a351;*background-color:#499249;}
.btn-success:active,.btn-success.active{background-color:#408140 \9;}
.btn-info{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#49afcd;background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);background-image:linear-gradient(to bottom, #5bc0de, #2f96b4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#2f96b4;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#ffffff;background-color:#2f96b4;*background-color:#2a85a0;}
.btn-info:active,.btn-info.active{background-color:#24748c \9;}
.btn-inverse{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#363636;background-image:-moz-linear-gradient(top, #444444, #222222);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));background-image:-webkit-linear-gradient(top, #444444, #222222);background-image:-o-linear-gradient(top, #444444, #222222);background-image:linear-gradient(to bottom, #444444, #222222);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);border-color:#222222 #222222 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#222222;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{color:#ffffff;background-color:#222222;*background-color:#151515;}
.btn-inverse:active,.btn-inverse.active{background-color:#080808 \9;}
button.btn,input[type="submit"].btn{*padding-top:3px;*padding-bottom:3px;}button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner{padding:0;border:0;}
button.btn.btn-large,input[type="submit"].btn.btn-large{*padding-top:7px;*padding-bottom:7px;}
button.btn.btn-small,input[type="submit"].btn.btn-small{*padding-top:3px;*padding-bottom:3px;}
button.btn.btn-mini,input[type="submit"].btn.btn-mini{*padding-top:1px;*padding-bottom:1px;}
.btn-link,.btn-link:active,.btn-link[disabled]{background-color:transparent;background-image:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-link{border-color:transparent;cursor:pointer;color:#0088cc;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.btn-link:hover{color:#005580;text-decoration:underline;background-color:transparent;}
.btn-link[disabled]:hover{color:#333333;text-decoration:none;}
